body {
  background-color: #F0FFFF;
  color: #dddddd;
  font-family: Garamond, serif;
  margin: 10% 20%;
  border: 2px #dddddd
  border-spacing: 15px;
}

.header{
  text-align: center;
  text-transform:uppercase;
  
}

.skills-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  background-color: rgba (0,0,0, 0.1)
  
}
  
 .experience-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  background-color: rgba (0,0,0, 0.1)
}
    
 .education-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
   background-color: rgba (0,0,0, 0.1)
}
